---
import {Mod} from "../types/mod";
interface Props {
    url: string;
    key: "description" | "versions";
    modData?: Mod
}
const { url, key, modData } = Astro.props;
const wiki = Astro.props.modData?.wiki_url;
const source = Astro.props.modData?.source_url;
const issues = Astro.props.modData?.issues_url;

const versionUrl = `${url}/versions`;
function getClassName(selected: "description" | "versions") {
    return (selected === key ? "border-purple-500" : "border-transparent") + " border p-3 border-t-0 border-l-0 border-r-0 border-b-2";
}
console.log("wiki", wiki);
---

<div class="flex-row min-h-fit mb-4">
    <a href={url} class={getClassName("description")}>
        Description
    </a>
    <a href={versionUrl} class={getClassName("versions")}>
        Versions
    </a>
    {wiki && (
        <a href={wiki} class="p-3" target="_blank">
            Wiki
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
            </svg>
        </a>
    )}
    {source && (
        <a href={source} class="p-3" target="_blank">
            Source
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
            </svg>
        </a>
    )}
    {issues && (
        <a href={issues} class="p-3" target="_blank">
            Issues
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 inline">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
            </svg>

        </a>
    )}
</div>