---
interface Props {
	title: string;
	description: string;
	embed_image?: string;
	embed_color?: string;
}

const { title, description, embed_image, embed_color } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		{ embed_image && <meta property="og:image" content={embed_image} /> }
		{ embed_color && <meta property="theme-color" content={embed_color} /> }
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ultrusmods.me/">
		<link rel="canonical" href="https://www.ultrusmods.me/">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
